<!-- templates/index.html -->
{% extends "base.html" %} {% block title %}Item List{% endblock %} {% block
content %}
      <img
        src="{{ url_for('static', filename='images/Forge1.png') }}"
        class="gal"
        alt="Blade1"
      />
      <img
        src="{{ url_for('static', filename='images/Forge3.png') }}"
        class="gal"
        alt="Blade1"
      />
      <img
        src="{{ url_for('static', filename='images/Ring1.png') }}"
        class="gal"
        alt="Blade1"
      />
      <img
        src="{{ url_for('static', filename='images/Hunter1.png') }}"
        class="gal"
        alt="Blade1"
      />
      <img
        src="{{ url_for('static', filename='images/Cleaver1.png') }}"
        class="gal"
        alt="Blade1"
      />
      <img
        src="{{ url_for('static', filename='images/Blade1.png') }}"
        class="gal"
        alt="Blade1"
      />
      <img
        src="{{ url_for('static', filename='images/Diveb1.png') }}"
        class="gal"
        alt="Blade1"
      />
            <img
        src="{{ url_for('static', filename='images/Diver1.png') }}"
        class="gal"
        alt="Blade1"
      />
            <img
        src="{{ url_for('static', filename='images/Forge4.png') }}"
        class="gal"
        alt="Blade1"
      />
            <img
        src="{{ url_for('static', filename='images/Chef2.png') }}"
        class="gal"
        alt="Blade1"
      />
            <img
        src="{{ url_for('static', filename='images/Chef3.png') }}"
        class="gal"
        alt="Blade1"
      />
                  <img
        src="{{ url_for('static', filename='images/Chef4.png') }}"
        class="gal"
        alt="Blade1"
      />
                  <img
        src="{{ url_for('static', filename='images/Chef1.png') }}"
        class="gal"
        alt="Blade1"
      />
                  <img
        src="{{ url_for('static', filename='images/Chef3.png') }}"
        class="gal"
        alt="Blade1"
      />

</div>
{% endblock %} {% block page_styles %}
<style>
  .gal {
    border-image: auto;
    width: 300px;
    height: auto;
  }
</style>
{% endblock %}
