<!-- templates/index.html -->
{% extends "base.html" %} {% block title %}Item List{% endblock %} {% block
content %}
      <img
        src="{{ url_for('static', filename='images/Blade1,1.png') }}"
        class="gal"
        alt="Blade1"
      />
      <img
        src="{{ url_for('static', filename='images/Blade1,1.png') }}"
        class="gal"
        alt="Blade1"
      />

</div>
{% endblock %} {% block page_styles %}
<style>
  .gal {
    border-image: auto;
    width: 300px;
    height: auto;
  }
</style>
{% endblock %}
